<style>
#top-title a {
	text-decoration: none;
	color: #999;
}

@media only screen and (min-width: 960px) {
	#top-title {
		font-size: 72pt;
		float: left;
	}
	#top-subtitle {
		margin-top: 1em;
	}
}
@media only screen and (max-width: 959px) {
	#top-title {
		font-size: 45pt;
	}
	#top-subtitle {
		margin-top: -0.25em;
	}
}
</style>
<header id="header">
  <div id="header-outer" class="outer">
    <div class="container">
      <div class="container-inner">
        <div id="header-title">
          <h1 id="top-title" class="article-title">
            <a href="<%- url_for(theme.menu[0]) %>" style="text-decoration: none; color: #999;"><%= theme.title %></a>
          </h1>
          <% if (theme.subtitle){ %>
            <h1 id="top-subtitle" class="article-title">
              <%= theme.subtitle %>
            </h1>
          <% } %>
        </div>
        <div id="header-inner" class="nav-container">
          <a id="main-nav-toggle" class="nav-icon"></a>
          <div class="nav-container-inner">
            <ul id="main-nav">
              <% for (var i in theme.menu){
                  if(i == 'Categories'){ %>
                    <%- list_categories({show_count: false, depth: 2, class: 'main-nav', style: 'list'}) %>
                  <% } else { %>
                <li class="main-nav-list-item" ><a class="main-nav-list-link" href="<%- url_for(theme.menu[i]) %>"><%= i %></a></li>
              <% }} %>
            </ul>
            <nav id="sub-nav">
              <div id="search-form-wrap">
                <%- search_form({text: __('index.search')}) %>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>